@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url("global.css");
html {
  height: 100%;
}

body {
  background: rgb(202, 202, 223) !important;
}
.main,
.main-2 {
  max-width: 960px;
  margin: 50px auto 30px;
  align-items: center;
}
.qr-div {
  float: right;
  padding: 50px;
  background-color: white;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}
.text {
  float: left;
  font-size: 20px;
}
h3 {
  text-align: center;
}
h6 {
  line-height: 40px;
}
.line {
  margin-top: 7px;
}

.demo-wrapper {
  text-align: center;
  padding: 100px 0;
}
.demo-wrapper {
  text-align: center;
  padding: 100px 0;
}

.svg-wrapper {
  background: rgb(0, 110, 77);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.logchat {
  display: block;
  margin: auto;
  text-align: center;
  padding: 30px;
}

.svg {
  width: 85px;
}

.path {
  fill: transparent;
  stroke: #25d366;
  stroke-width: 2;
  stroke-dasharray: 25;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: animate 1s cubic-bezier(0, 0, 0.32, -0.13);
}

@keyframes animate {
  from {
    stroke-dashoffset: 26;
  }
  to {
    stroke-dashoffset: 0;
  }
}